// global page styling //
.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

// =================================== home page styling ===================================== //
.home {
  height: 100vh;
  min-height: 35rem;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../assets/home_bg.jpg);
    background-position: center;
    background-size: cover;
    filter: contrast(200%) brightness(50%) saturate(120%);
  }
  &__content {
    margin: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
  }
  h1 {
    color: rgb(223, 223, 223);
    font-size: 4.5em;
  }
  p {
    color: rgb(223, 223, 223);
    font-size: 3em;
  }
  span {
    color: #fff;
    background-color: rgb(43, 60, 47);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

// =================================== menu page styling ===================================== //
.menu {
  &__btn-box {
    display: flex;
    justify-content: center;
    button {
      padding: 1rem;
      background-color: rgb(207, 207, 207);
      cursor: pointer;
      color: white;
      display: flex;
      align-items: center;
      border: none;
      font-size: 1em;
      &:hover {
        filter: brightness(110%);
      }
    }
  }
  ol {
    display: grid;
    gap: 2em;
    padding: 2em 0;
    list-style: none;
  }
  &__item {
    margin: auto;
    width: 100%;
    &__top {
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        border: 1px dashed rgb(211, 211, 211);
      }
    }
    span {
      color: rgb(169, 76, 76);
      font-size: 0.9em;
    }
    &__id {
      z-index: 9;
      background-color: var(--bg-clr);
      padding-right: 1rem;
      font-size: 1.3em;
    }
    &__price {
      z-index: 9;
      background-color: var(--bg-clr);
      padding-left: 1rem;
      font-size: 1.1em;
    }
    .menu__item__bottom p {
      font-style: italic;
    }
  }
}

// =================================== about page styling ===================================== //
.about {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    section {
      display: flex;
      gap: 1rem;
      align-items: center;
      flex-wrap: wrap;
      img {
        border-radius: 0.5rem;
        width: 100%;
        height: 20rem;
        object-fit: cover;
        object-position: center;
      }
      &:nth-child(2) {
        flex-direction: row-reverse;
        img {
          flex: 1 1 30%;
        }
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      flex: 1 1 60%;
      h2 {
        font-size: 1.7em;
        color: var(--main-clr);
      }
      p {
        font-size: 1.2em;
      }
      span {
        color: rgb(94, 154, 80);
        font-weight: bold;
      }
    }
  }
}

// =================================== location page styling ===================================== //
.location {
  .container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    position: relative;
    > section {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      line-height: 2em;
    }
  }
  h5 {
    color: var(--main-clr);
    font-size: 1.5em;
    padding-bottom: 0.5rem;
  }
  p {
    font-size: 1.2em;
  }
  &__left {
    gap: 2em;
    text-align: right;
    &__map {
      display: flex;
      flex-direction: column;
      a {
        margin-left: auto;
        background-color: var(--main-clr);
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 0.5rem;
        &:hover {
          filter: brightness(120%);
        }
      }
    }
  }
  .right {
    text-align: left;
  }
  &__line {
    position: absolute;
    width: 0.3rem;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-clr);
  }
  span {
    display: inline-block;
    width: 4rem;
  }
}

@media (max-width: 45rem) {
  .page {
    .wrapper {
      padding: 4rem 1rem;
    }
    article {
      padding: 1rem 0;
    }
  }
  .home {
    text-align: center;
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 2em;
    }
  }
  .menu {
    &__btn-box {
      flex-direction: column;
      button {
        justify-content: center;
      }
    }
  }
  .location {
    .container {
      flex-wrap: wrap;
      gap: 2em;
    }
    &__left {
      text-align: center;
      a {
        margin-right: auto;
      }
    }
    .right {
      text-align: center;
      p {
        margin: auto;
        display: flex;
        min-width: 15rem;
        width: 50%;
        justify-content: space-between;
        gap: 1rem;
      }
    }
    &__line {
      position: relative;
      width: 100%;
      height: 0.3rem;
      left: 0;
      transform: translateX(0);
    }
    span {
      width: auto;
    }
  }
}
