@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/* global settings */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-clr: rgb(43, 60, 47);
    --bg-clr: rgb(238, 238, 238);
}

body {
    background-color: var(--bg-clr);
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    max-width: 80rem;
    margin: 0 auto;
    width: 100%;
    min-width: 23rem;
}

@media (max-width: 45rem) {
    body {
        font-size: 0.8rem;
    }
}